@import url("https://fonts.googleapis.com/css2?family=Rambla:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #d3d9ae;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ANIMATIONS */
@keyframes heroImage {
  from {
    filter: none;
    transform: none;
  }
  to {
    filter: blur(2px) brightness(65%);
    transform: scale(1.05);
  }
}
